<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>${locals.about_area}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

${header}
<div class="pure-g">
    <div class="pure-u-1">
<h1 class="highlight" id="Mitmachen0"><a class="anchor hidden-xs" href="#Mitmachen0" title="Mitmachen0"><span class="octicon octicon-link"></span></a>Mitmachen</h1>
        <h3 id="Das-Projekt0"><a class="anchor hidden-xs" href="#Das-Projekt0" title="Das-Projekt0"><span class="octicon octicon-link"></span></a>
            <span style="color:green">Das Projekt</span></h3>
        <p>Diese Website ist Teil eines Projektes von Ecocurious zum Zählen von Insekten in unserer Heimat - ohne, dass diese dabei eingefangen werden oder sterben müssen! <a href="https://ecocurious.de/projekte/insect-counts/" target="_blank" rel="noopener"><strong>hier</strong></a> kannst du mehr erfahren!
        </p>

        <h3 id="Du-willst-dabei-sein0"><a class="anchor hidden-xs" href="#Du-willst-dabei-sein0" title="Du-willst-dabei-sein0"><span class="octicon octicon-link"></span></a>
    <span style="color:green">Du willst dabei sein?</span>
    </h3><p>Wenn Du mitmachen möchtest, findest Du auf dieser Seite auf einem Blick alle Informationen, die Du brauchst, um bald auch bei Dir Insekten zählen zu können! Schön, dass Du Dich für das Projekt interessierst!
    </p><p>An sich brauchst Du folgende Dinge: Einen Raspberry Pi mit Infrarotsensor und einen sicheren Platz im Freien (z.B. eine überdachte Fläche in deinem Garten oder auf deinem Balkon), wo Du diesen ablegen kannst.
    </p>

        <h3 id="Sensor-einrichten0"><a class="anchor hidden-xs" href="#Sensor-einrichten0" title="Sensor-einrichten0"><span class="octicon octicon-link"></span></a><span style="color:green">Sensor einrichten</span></h3><p><strong>Du hast keine Vorerfahrung mit Raspberry Pis?</strong><br>
Keine Sorge, die ist nicht notwenig!</p><ul>
<li>Wir machen regelmäßig Workshops, bei denen wir zusammen die Sensoren einrichten - eine Übersicht unserer Termine (und wie Du Dich dort anmelden kannst) findest Du  <a href="https://ecocurious.de/events/" target="_blank" rel="noopener"><strong>hier</strong></a></li>
<li>Nach der Einrichtung des Raspberry Pis musst Du noch einen Account bei uns erstellen und Deinen Sensoren registrieren - das geht <a href="/users" target="_blank" rel="noopener"><strong>hier</strong></a></li>
</ul><p><strong>Du hast bereits einen Raspberry Pi (Version 4 oder neuer) und möchtest ihn zu Hause einrichten?</strong></p><ul>
<li>Du benötigst zusätzlich einen Infrarotsensor [???]</li>
<li>Die Anleitung und benötigten Dateien zum Einrichten des Sensors findest Du unten auf dieser Seite in den Downloads</li>
</ul><h3 id="LinksDownloads"><a class="anchor hidden-xs" href="#LinksDownloads" title="LinksDownloads"><span class="octicon octicon-link"></span></a><span style="color:green">Links/Downloads</span></h3>
<ul>
<li><a href="https://github.com/insectcounter/insectcounter/blob/master/SETUPPI.md" target="_blank" rel="noopener"><strong>Anleitung Sensoreinrichtung</strong></a></li>
<li><a href="https://github.com/insectcounter/insectcounter/tree/master" target="_blank" rel="noopener"><strong>Installationsdateien für den Pi</strong></a></li>
<li>Aktuelle Version des <a href="/model_latest.zip" target="_blank" rel="noopener"><strong>ML-Modells</strong></a></li>
<li>Stelle Fragen an Ecocurious <a href="https://ecocurious.de/events/" target="_blank" rel="noopener"><strong>Ecocurious</strong></a></li>
</ul>

    </div>
</div>


${footer}

</body>

</html>
