<!DOCTYPE html>
<html lang="de">

<head>
  <title>Datastream : ${sensorID}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" crossorigin="anonymous>"></script>

  <script src="/javascripts/helper_functions.js"></script>
  <script src="/javascripts/helper_functions_sensor.js"></script>
  <script src="/javascripts/sensor.js"></script>
</head>

<body>
  ${header}

  <div class="pure-g">
    <div class="pure-u-1">

      <h1>Datastream: ${sensorID}</h1>

      <div id="explanation"></div>
	  <button class="pure-button pure-button-primary" id="prev">${locals.prev_day}</button>
	  <button class="pure-button pure-button-primary" id="next">${locals.next_day}</button>
	  <button class="pure-button pure-button-primary" id="changeScale">${locals.change_to_month}</button>


      <div id="line-chart" class="pure-u-1">
		  ${locals.line_chart}:
        <canvas id="chart2" width="3" height="1"></canvas>
		<a id="line-download" class="pure-button">${locals.download_as_csv}</a>
      </div>
      <div id="pie-chart" class="pure-u-1">
		  ${locals.pie_chart}:
        <canvas id="chart" width="3" height="1"></canvas>
      </div>



    </div>
  </div>
  ${footer}

</body>

</html>
