[Unit]
Description=insectcounter

[Service]
Type=simple
ExecStart=/home/pi/insectcounter/autostart_listener.sh
User=pi

[Install]
WantedBy=multi-user.target
