<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Insect Counter</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">${locals.map}</a></li>
            <li class="pure-menu-item"><a href="/users" class="pure-menu-link">${locals.user_area}</a></li>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">${locals.about_area}</a></li>
        </ul>
    </div>
</div>